<body>

  <div>

    <div class="modal-content animate">
      <div>
        <button class="loginBtn loginBtn--facebook" >
          Login with Facebook
        </button>

        <button class="loginBtn loginBtn--google" (click)="socialSignIn('google')">
          Login with Google
        </button>
      </div>
      <div class="ortext">
        OR
      </div>
      <div class="imgcontainer">
        <img src="./../../../assets/images/img_avatar2.png" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" >

        <button>Login</button>
      </div>
    </div>
  </div>

</body>