<app-header></app-header>


<!-- Nav tabs -->
<ul class="nav nav-tabs md-tabs nav-justified primary-color" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#panel555" role="tab">Shirts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#panel666" role="tab">Pants</a>
  </li>
</ul>
<!-- Nav tabs -->

<!-- Tab panels -->
<div class="tab-content">

  <!-- Panel 1 -->
  <div class="tab-pane fade in show active" id="panel555" role="tabpanel">

    <!-- Nav tabs -->
    <div *ngIf="userBookmarkClothData.length == 0" class="nobookmarktext">
      No Bookmark Found!
    </div>
    <div class="row" *ngIf="userBookmarkClothData.length > 0">
      <div *ngFor="let cloth of userBookmarkClothData">
        <div class="gallery" *ngIf="cloth.category=='shirts'">
          <img src={{cloth.URL}} alt="Cinque Terre" width="600" height="400" style="flex:1">
          <div class="desc">
              <i class="fa fa-times removebookmark" aria-hidden="true" (click)="removeBookmarkCloth(cloth)"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Nav tabs -->

  </div>
  <!-- Panel 1 -->

  <!-- Panel 2 -->
  <div *ngIf="userBookmarkClothData.length == 0" class="nobookmarktext">
      No Bookmark Found!
    </div>

  <div class="tab-pane fade" id="panel666" role="tabpanel" *ngIf="userBookmarkClothData.length > 0">
    <div *ngFor="let cloth of userBookmarkClothData">
      <div class="gallery" *ngIf="cloth.category=='pants'">
        <img src={{cloth.URL}} alt="Cinque Terre" width="600" height="400" style="flex:1">
        <div class="desc">
            <i class="fa fa-times removebookmark" aria-hidden="true" (click)="removeBookmarkCloth(cloth)"></i>
        </div>
      </div>
    </div>

  </div>
  <!-- Panel 2 -->

</div>
<!-- Tab panels -->